/SearchSiteContent.v1
/SearchSiteContent.v1/.vs/
/SearchSiteContent.v1/bin/
/SearchSiteContent.v1/obj/
/SearchSiteContent.v2/.vs/
/SearchSiteContent.v2/SearchSiteContent/bin
/SearchSiteContent.v2/SearchSiteContent/obj
/SearchSiteContent.v2/SearchSiteContent/obj